<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Sign In</title>
</head>
<body style="display: flex; justify-content: center;">
	<div style="display: flex; flex-direction: column; align-items: center; border: 1px solid #CCC;">
		<h1>Historia</h1>

		<p>Sign in to continue</p>

		<form>
			<div style="display: flex; flex-direction: column;">
				<input type="email" name="email" maxlength="512" placeholder="Your email" required />
				<input type="password" name="password" placeholder="Enter your password" required />
			</div>
			<div style="display: flex; flex-direction: column;">
				<button color="primary" type="submit" [disabled]="formGroup.invalid">Sign In with Email</button>
			</div>
		</form>

		<p style="align-self: center;">or</p>

		<div style="display: flex; flex-direction: column;">
			<button class="btn-google" (click)="signInWithGoogle()">Sign In wtih Google</button>
			<button class="btn-microsoft" (click)="signInWithGoogle()">Sign In wtih Microsoft</button>
			<button class="btn-apple" (click)="signInWithApple()">Sign In wtih Apple</button>
			<!-- <button class="btn-facebook">Sign In wtih Facebook</button>
			<button class="btn-twitter">Sign In wtih Twitter</button> -->
		</div>

		<p style="align-self: center;"><a href="/forgot-password">Can't log in?</a> <a href="/subscribe">Sign up for an account</a> </p>
		
		<p style="align-self: center;"><a href="/privacy-policy">Privacy Policy</a> | <a href="/user-notice">User Notice</a> </p>
	</div>
</body>