<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Subscribe</title>
</head>
<body style="display: flex; justify-content: center;">
	<div style="display: flex; flex-direction: column; align-items: center; border: 1px solid #CCC;">
		<h1>Historia</h1>

		<p>Subscribe to continue</p>

		<ul th:each="error : ${errors}">
			<li th:text="${error}"></li>
		</ul>

		<form method="post" enctype="application/x-www-form-urlencoded" action="/subscribe" novalidate>
			<div style="display: flex; flex-direction: column;">
				<input type="email" name="email" maxlength="512" placeholder="Your email" required />
				<input type="password" name="password" placeholder="Enter your password" required />
			</div>
			<div style="display: flex; flex-direction: column;">
				<button color="primary" type="submit">Subscribe</button>
			</div>
		</form>

		<p style="align-self: center;"><a href="/privacy-policy">Privacy Policy</a> | <a href="/user-notice">User Notice</a> </p>
	</div>
</body>